## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Set directory where the data files are saved
dir_data = './data/'

In [44]:
# Full file name with path name
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))

# Read csv data into pandas data frame using pd.read_csv
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [14]:
# Use ? to check the definition of function
?pd.read_csv

In [22]:
# 用 .head() 來觀察前5 rows的資料
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 資料的 row 數以及 column 數

In [57]:
# List data frame row count 
nrow = app_train.shape[0]  # len(app_train)
print("Number of rows in 'application_train.csv' is %s" % (nrow))

# List data frame column count 
ncol = app_train.shape[1]  # len(app_train.columns)
print("Number of columns in 'application_train.csv' is %s" % (ncol))

Number of rows in 'application_train.csv' is 307511
Number of columns in 'application_train.csv' is 122

#### 列出所有欄位

In [58]:
print("List all columns of %s " % f_app)
list(app_train)    # app_train.columns

List all columns of ./data/application_train.csv

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [59]:
# Show first 5 rows of data frame using .head()
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
# Show last 5 rows of data frame using .tail()
app_train.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [64]:
# Show 3 random samples of data frame using .sample
app_train.sample(n=3, random_state=1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
64282,174545,1,Cash loans,F,N,Y,0,135000.0,654498.0,31617.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
94645,209898,0,Cash loans,M,Y,Y,0,135000.0,234576.0,25393.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
306349,454938,0,Cash loans,M,Y,Y,0,112500.0,157914.0,16753.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [67]:
# Show 1 percent random samples of data frame using .sample
app_train.sample(frac=0.01, random_state=1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
64282,174545,1,Cash loans,F,N,Y,0,135000.0,654498.0,31617.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
94645,209898,0,Cash loans,M,Y,Y,0,135000.0,234576.0,25393.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
306349,454938,0,Cash loans,M,Y,Y,0,112500.0,157914.0,16753.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
258314,398930,0,Cash loans,M,Y,N,0,247500.0,1125000.0,36292.5,...,0,0,0,0,0.0,0.0,0.0,9.0,0.0,1.0
87597,201672,0,Cash loans,M,N,Y,0,202500.0,900000.0,35158.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
27731,132243,0,Revolving loans,F,N,Y,0,121500.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
284391,429350,1,Cash loans,F,N,N,0,90000.0,808650.0,26086.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
267734,410203,0,Cash loans,F,N,N,2,54000.0,450000.0,21888.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
238789,376596,0,Cash loans,F,N,N,1,180000.0,1125000.0,47664.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
299374,446827,0,Cash loans,M,Y,N,0,121500.0,343377.0,13072.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
188398,318422,0,Cash loans,F,N,Y,0,157500.0,403249.5,19741.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
252746,392459,0,Cash loans,F,Y,Y,0,54000.0,408780.0,14809.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
249037,388112,1,Cash loans,M,N,N,1,135000.0,473760.0,53581.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294226,440863,0,Cash loans,M,Y,Y,2,135000.0,358443.0,13639.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
91317,206050,0,Cash loans,M,Y,N,0,99000.0,545040.0,25537.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
219832,354672,0,Cash loans,F,Y,Y,1,180000.0,1432647.0,42021.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
70781,182098,0,Revolving loans,F,N,Y,0,135000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1710,101999,0,Cash loans,F,N,Y,0,76500.0,284400.0,19003.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
195776,327012,0,Cash loans,M,Y,N,1,225000.0,450000.0,25834.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
143511,266409,0,Cash loans,F,N,N,2,103500.0,251091.0,26496.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
58721,168070,0,Cash loans,F,N,Y,0,112500.0,760225.5,30280.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
101544,217897,0,Cash loans,F,N,N,0,225000.0,152820.0,14886.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
162174,288017,0,Revolving loans,M,Y,Y,2,270000.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
136550,258382,0,Cash loans,F,N,N,0,157500.0,474048.0,22095.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
58099,167350,0,Cash loans,F,N,N,0,112500.0,225000.0,12564.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
140282,262671,0,Cash loans,F,N,N,0,157500.0,452385.0,22131.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
297174,444293,0,Cash loans,M,Y,Y,0,225000.0,848745.0,40963.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
80856,193746,0,Cash loans,F,Y,Y,0,292500.0,247500.0,12784.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
11705,113644,0,Cash loans,M,N,Y,2,225000.0,1002870.0,42619.5,...,0,0,0,0,0.0,0.0,0.0,3.0,1.0,1.0
261406,402569,0,Cash loans,F,Y,Y,3,135000.0,397017.0,19228.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221567,356665,0,Cash loans,F,N,N,1,103500.0,255960.0,14823.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
174279,301967,0,Cash loans,F,N,Y,0,346500.0,990432.0,32733.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
35779,141442,0,Cash loans,M,N,Y,0,112500.0,224149.5,24268.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
231835,368528,0,Cash loans,F,Y,Y,0,238500.0,1125000.0,36423.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0
294784,441515,0,Cash loans,F,N,Y,1,270000.0,906228.0,46399.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
196992,328406,0,Cash loans,F,N,N,1,315000.0,1800000.0,47614.5,...,0,0,0,0,0.0,0.0,0.0,4.0,0.0,2.0
189397,319593,0,Revolving loans,F,N,Y,0,157500.0,247500.0,12375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
285423,430564,0,Cash loans,F,N,N,3,159750.0,385749.0,20326.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
296611,443650,0,Cash loans,M,Y,Y,0,112500.0,207306.0,9261.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,7.0
80670,193530,0,Revolving loans,F,Y,N,0,135000.0,270000.0,13500.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
41967,148588,0,Cash loans,M,N,N,2,121500.0,271066.5,21105.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
168977,295855,0,Cash loans,M,N,N,0,99000.0,180000.0,11502.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,2.0
230233,366675,0,Cash loans,F,N,N,0,90000.0,178290.0,10363.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
121606,240991,0,Cash loans,F,N,Y,0,94500.0,152820.0,15016.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
248160,387127,1,Cash loans,F,N,N,0,112500.0,225000.0,16501.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
43556,150422,0,Cash loans,M,N,Y,0,270000.0,254700.0,30357.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
191167,321656,0,Cash loans,F,N,Y,0,85500.0,508495.5,22527.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246250,384990,0,Cash loans,M,Y,N,0,135000.0,1350000.0,35613.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
200089,331955,0,Revolving loans,F,N,Y,1,180000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
181019,309781,0,Cash loans,F,N,Y,0,135000.0,675000.0,26154.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
72367,183922,0,Cash loans,F,Y,Y,0,202500.0,835380.0,35523.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
110444,228115,0,Cash loans,F,Y,Y,0,135000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
276215,420074,0,Cash loans,M,Y,N,2,225000.0,781920.0,25969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
143816,266760,0,Cash loans,F,Y,Y,0,225000.0,787131.0,42066.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
252199,391813,0,Cash loans,M,Y,Y,0,157500.0,152820.0,11205.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
253734,393597,0,Cash loans,F,N,N,0,135000.0,450000.0,21109.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
86112,199928,0,Cash loans,M,Y,Y,0,450000.0,1082214.0,31770.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
299968,447508,1,Cash loans,F,Y,Y,1,166500.0,1205896.5,35388.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20243,123620,0,Cash loans,M,N,Y,1,135000.0,101880.0,11101.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
83702,197077,0,Cash loans,F,N,Y,0,292500.0,1255680.0,41629.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

#### 還有各種資料操作，取決於實務中遇到的狀況和想問的問題